  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
  }


  body {
      background: linear-gradient(135deg, #000428, #004e92);
      color: rgb(236, 233, 233);
  }

  header {
      text-align: center;
      padding: 40px 20px;
  }

  header h1 {
      font-size: 42px;
      letter-spacing: 2px;
  }

  header p {
      color: #ccc;
      margin-top: 10px;
  }

  .container {
      max-width: 1000px;
      margin: auto;
      padding: 20px;
  }

  .profile {
      display: flex;
      gap: 30px;
      align-items: center;
      flex-wrap: wrap;
      background: rgba(255, 255, 255, 0.1);
      padding: 25px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }

  .profile img {
      width: 200px;
      border-radius: 20px;
  }

  .details h2 {
      margin-bottom: 10px;
  }

  .details p {
      margin: 5px 0;
      color: #ddd;
  }

  .stats {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
  }

  .stat-box {
      background: rgba(255, 255, 255, 0.1);
      padding: 20px;
      border-radius: 15px;
      text-align: center;
      transition: 0.3s;
  }

  .stat-box:hover {
      transform: scale(1.05);
      background: rgba(255, 255, 255, 0.2);
  }

  .stat-box h3 {
      font-size: 30px;
      color: gold;
  }

  .about {
      margin-top: 30px;
      background: rgba(255, 255, 255, 0.1);
      padding: 20px;
      border-radius: 15px;
      line-height: 1.6;
  }

  footer {
      text-align: center;
      padding: 20px;
      margin-top: 30px;
      color: #aaa;
  }

  button {
      margin-top: 15px;
      padding: 10px 20px;
      border: none;
      background: gold;
      color: black;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
  }
 *{text-align: center;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
  } 
 .about p {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
